.Question{
    padding: 50px;

}
.Question__box{
    display: flex;
    flex-wrap: nowrap;
}
.Question__block{
    display: flex;
    width: 352px;
    flex-wrap: wrap;
    padding:  20px 46px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border: solid 1px rgb(220,220,220) ;
    border-radius: 15px;
    justify-content: center;
}
.Question__icon{
    font-size: 73px;
    color: red;
}
.Question__icons{
    display: flex;
    margin: 26px auto;

}
.Question__title{
    color: rgb(26, 26, 37);
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
    text-align: center;
    margin-bottom: 10px;
}
.Question__text{
    color: rgb(56, 66, 85);
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-bottom: 20px;
}
.Question__btn{
    color: rgb(245, 59, 73);
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border: none;
    background: none;
    text-align: center;
    display: flex;
    margin-left: 10px;
}
